{% extends 'base.html' %}

{% block content_login %}
    <form method="POST">
      {% csrf_token %}
      <div class="container">
        <div id="registerbox" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title text-center">Inscris toi</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >
              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
              <form id="registerform" class="form-horizontal" role="form">

                <!-- Username -->
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_username">Username:</label>
                  </span>
                      <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username" placeholder="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only."/><br />
                </div>

                <!-- Nom -->
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_nom">Nom:</label>
                  </span>
                      <input type="text" class="form-control" name="nom" maxlength="30" autofocus required id="id_nom" placeholder="Not Required"/><br />
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_prenom">Prenom:</label>
                  </span>
                      <input type="text" class="form-control" name="prenom" maxlength="30" autofocus required id="id_prenom" placeholder="Not Required"/><br />
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_email">Email:</label>
                  </span>
                      <input type="text" class="form-control" name="email" maxlength="124" autofocus required id="id_email" placeholder="Required"/><br />
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_password1">Password:</label>
                  </span>
                      <input type="text" class="form-control" name="password1" maxlength="120" autofocus required id="id_password1" placeholder="8+ characters, characters + numeric"/><br />
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                    <label for="id_password2">Password confirmation:</label>
                  </span>
                      <input type="text" class="form-control" name="password2" maxlength="120" autofocus required id="id_password2" placeholder="Confirmation password"/><br />
                </div>



            <!--  <tr><th><label for="id_prenom">prenom:</label></th><td><input type="text" name="prenom" maxlength="30" id="id_prenom" /></td></tr>
              <tr><th><label for="id_nom">nom:</label></th><td><input type="text" name="nom" maxlength="30" id="id_nom" /></td></tr>
              <tr><th><label for="id_email">email:</label></th><td><input type="email" name="email" maxlength="100" required id="id_email" /></td></tr>
              <tr><th><label for="id_password1">Password:</label></th><td><input type="password" name="password1" required id="id_password1" /><br /><span class="helptext"><ul><li>Your password can&#39;t
               be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your passw
              ord can&#39;t be entirely numeric.</li></ul></span></td></tr>
              <tr><th><label for="id_password2">Password confirmation:</label></th><td><input type="password" name="password2" required id="id_password2" /><br /><span class="helptext">Enter the same pas
              sword as before, for verification.</span></td></tr>-->


              <!-- Button -->
              <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div>

              </form>
            </div>
          </form>




{% endblock %}
