html,
body,
header,
main,
#intro {
  height: 100%;
  margin: 0;
  padding: 0;
}

#intro{
  background: url('../img/pict2.jpg')no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#logo_full{
  width: 200px;
  height: auto;
  opacity: 0.8;
  margin-top: 200px;
}

.mylogin{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.row-fluid {
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.centering{
  float: none;
  margin: 0 auto;
}

.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
